# Env files
.env

# Secrets
.ssh/*
secret*

# Gitworker secrets
gitworker/.ssh/agent*
gitworker/.ssh/id*

# Gitworker special files and directories
gitworker/scripts/__pycache__
__pycache__

# Test files and directories
test*
Dockerfile-ubuntu

# Repository entries
gitworker/repo/*
